
.main-container {
    width: 98%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }
  
 

  @media (max-width: 992px) {
    .search-section input[type="text"], .search-section button {
      flex-basis: 100%;
      margin-top: 10px;
    }
  
    .search-section input[type="text"] {
      margin-right: 0;
    }
  }
  
  @media (max-width: 768px) {
    .main-container {
      width: 95%;
      padding: 15px;
    }
  
    .search-section {
      flex-direction: column;
    }
  
  }
  
  @media (max-width: 480px) {
  
    .hero h1 {
      font-size: 2rem; 
    }
  
    .hero p {
      font-size: 1rem;
    }
  }

  .main-section {
    display: flex;
    
  }
  .filter-sidebar   {
    padding: 20px;
    width: 30%;
    max-width: 50%;
    margin-right: 20px; 
  }

  .filter-sidebar-subsection {
    width: 100%;
    padding: 20px;
    background-color:  white;
    margin-right: 20px; 
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.filter-sidebar h2 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
}

.filter-category {
    margin-bottom: 20px;
}

.filter-category h3 {
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: normal;
    color: #333;
}

.gap-16 {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
}

.checkbox-group label {
    font-size: 14px;
    color: #666; 
    margin-bottom: 8px; 
    display: block; 
    cursor: pointer;
}

.slider {
    display: block;
    width: 100%;
}

.slider input[type="range"] {
    width: 100%; 
    cursor: pointer;
}

.slider label {
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}


.range-labels {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #666;
}


@media (max-width: 768px) {
    .filter-sidebar {
        width: 100%;
        max-width: 100%;
        padding: 10px;
        margin-right: 0;
    }
}



  .cards-container {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 85%;
    padding: 20px;
    margin-left: 60px;

  }
  
  .card {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 15px;
    border-radius: 8px;
    width: calc(50% - 20px);
  }
  
  .card img {
    width: 99%;
    height: 60%;
    margin-bottom: 10px;
  }
  
  .card h4, .card p {
    margin: 5px 0;
  }
  
  .checkbox-group label {
    margin-left: 8px;
  }
  
  .slider input[type="range"] {
    width: 100%;
  }
  
  @media (max-width: 768px) {
    .main-section {
      flex-direction: column;
    }
  
    .filter-sidebar {
      margin-right: 0;
      margin-bottom: 20px;
      max-width: 100%;
    }
  
    .cards-container {
      flex-direction: column;
      width: 100%;
      margin-left: 0; 
      padding: 10px; 
      

    }
  
    .card {
      width: 100%;
    margin: 0 auto; 
    margin-bottom: 20px; 
    }
  }
  






